{% extends 'base.html.twig' %}

{% block title %}New Rendezvouz{% endblock %}

{% block body %}
    <div class="container">
        <br><br><br><br><br><br><br><br><br><br><br><br>

        <h1 class="mt-5">Create New Rendezvous</h1>

        <div class="card mt-4">
            <div class="card-body">
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.daterdv) }}
                        {{ form_widget(form.daterdv, {'attr': {'class': 'form-control'}}) }}
                        {# Afficher le message d'erreur spécifique pour le champ daterdv avec une couleur rouge #}
                        {% if form_errors(form.daterdv) %}
                            <div class="alert alert-danger mt-2">
                                {{ form_errors(form.daterdv) }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.local) }}
                        {{ form_widget(form.local, {'attr': {'class': 'form-control'}, 'required': false}) }}
                        {# Afficher le message d'erreur spécifique pour le champ local avec une couleur rouge #}
                        {% if form_errors(form.local) %}
                            <div class="alert alert-danger mt-2">
                                {{ form_errors(form.local) }}
                            </div>
                        {% endif %}
                    </div>
                    
                    {# Ajoutez ici les autres champs du formulaire... #}
                {{ form_end(form) }}
            </div>
        </div>

        <div class="mt-4">
            <a class="btn btn-primary" href="{{ path('app_rendezvouz_index') }}">Back to List</a>
            <button type="submit" class="btn btn-success" onclick="document.querySelector('form').submit()">Save</button>
        </div>
    </div>
{% endblock %}




