{% extends 'baseback.html.twig' %}

{% block title %}patient  index{% endblock %}
 {% block body %}
 {% endblock %}
{% block content %}
    <h1>Patient index</h1>
 <form id="search-form">
       
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Numtel</th>
                <th>Birth</th>
                <th>Profile_image</th>
                <th>Gender</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in pagination %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.roles ? patient.roles|json_encode : '' }}</td>
                <td>{{ patient.password }}</td>
                <td>{{ patient.nom }}</td>
                <td>{{ patient.prenom }}</td>
                <td>{{ patient.numtel }}</td>
                <td>{{ patient.birth ? patient.birth|date('Y-m-d ') : '' }}</td>
                <td> <img src="{{ asset('uploads/' ~ patient.profileImage) }}" alt="patient Image" class="img-fluid mb-3" height="100px" width="100px"> </td>
                <td>{{ patient.gender }}</td>
                <td>
                    <a href="{{ path('app_patient_show', {'id': patient.id}) }}">show</a>
                    <a href="{{ path('app_patient_edit', {'id': patient.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# Affichage des liens de pagination #}
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>

    <a href="{{ path('app_patient_new') }}">Create new</a>

{% endblock %}