{% extends 'base.html.twig' %}

{% block title %}
    {{ 'New Publication'|capitalize }}
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>{{ 'Create new Publication'|capitalize }}</h1>

        <br><br><br><br><br>

        {{ include('publication/_form.html.twig') }}

        <a href="{{ path('app_publication_index') }}" class="btn btn-secondary mt-3">
            {{ 'Back to List'|trans }}
        </a>
    </div>
{% endblock %}
