{% extends 'baseback.html.twig' %}

{% block title %}docteur  index{% endblock %}
 {% block body %}
 {% endblock %}
{% block content %}
    <h1>Docteur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Numtel</th>
                <th>Birth</th>
                <th>Profile_image</th>
                <th>Gender</th>
                <th>Specialite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for docteur in docteurs %}
            <tr>
                <td>{{ docteur.id }}</td>
                <td>{{ docteur.email }}</td>
                <td>{{ docteur.roles ? docteur.roles|json_encode : '' }}</td>
                <td>{{ docteur.password }}</td>
                <td>{{ docteur.nom }}</td>
                <td>{{ docteur.prenom }}</td>
                <td>{{ docteur.numtel }}</td>
                <td>{{ docteur.birth ? docteur.birth|date('Y-m-d H:i:s') : '' }}</td>
                <td> <img src="{{ asset('uploads/' ~ docteur.profileImage) }}" alt="docteur Image" class="img-fluid mb-3" height="100px" width="100px"> </td>
                <td>{{ docteur.gender }}</td>
                <td>{{ docteur.specialite }}</td>
                <td>
                    <a href="{{ path('app_docteur_show', {'id': docteur.id}) }}">show</a>
                    <a href="{{ path('app_docteur_edit', {'id': docteur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_docteur_new') }}">Create new</a>
{% endblock %}
