{% extends 'base.html.twig' %}

{% block title %}Publication{% endblock %}

{% block body %}
    <div class="container mt-5" >
        <h1 class="display-4">Publication</h1>
<br><br><br><br>
        <table class="table mt-5" id="ff">
            <tbody>
                <tr>
                    <th scope="row">Id</th>
                    <td>{{ publication.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Contenu</th>
                    <td>{{ publication.contenu }}</td>
                </tr>
                <tr>
                    <th scope="row">Titre</th>
                    <td>{{ publication.titre }}</td>
                </tr>
                 <tr>
                    <th scope="row">Image</th>
                    <td>
    {% dump(publication.image) %}
        <img src="{{ asset('uploads/publication/' ~ publication.image) }}" alt="Publication Image" class="img-fluid mb-3">

</td>

                </tr>
            </tbody>
            <button onclick="downloadTableAsPDF()">Download as PDF</button>
        </table>

        <div class="mt-4">
            <a href="{{ path('app_publication_index') }}" class="btn btn-primary">Back to List</a>
            <a href="{{ path('app_publication_edit', {'id': publication.id}) }}" class="btn btn-warning">Edit</a>
            
        </div>

       {% if publication.publication is empty %}
            {{ include('publication/_delete_form.html.twig') }}
            {% endif %} 
        <h1>Commentaires:</h1>
   <table class="table">
    <tbody>
        {% for commentaire in publication.Publication %}
            <tr>
                <th>Content</th>
                <td>{{ commentaire.contenu }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

    </div>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
        <script type="text/javascript">
            function downloadTableAsPDF() {
                var tableContainer = document.getElementById('ff');
                var pdfOptions = {
                    filename: 'table.pdf',
                };

                html2pdf(tableContainer, pdfOptions);
            }
        </script>

{% endblock %}
